@import 's-grid-settings'
// you can overwrite settings here
@import 's-grid-functions'
@import './colors'
@import './mixins'
.about
  padding-top: 50px
  color: $blue
  @media phone
    padding: 50px 20px
  .container
    margin-top: 2000px
    @media phone
      margin-top: 0
    img
      width: 100%
  .titleTxt
    font-size:24pt
    line-height: 32pt
    max-width:1060px
    margin:0 auto
    h2
      font-size:64px
      line-height: 72px
      color: $blue
      text-align:center
      @media phone
        font-size: 40px
        line-height: 1.3
        text-align: left
        margin-top: 50px
    p
      font-family: "DiaLight"
      text-align:center
      color: $blue
      font-size:24px
      line-height: 36px
      margin-top: 30px
      margin-bottom: 100px
      @media phone
        text-align: left
  .section
    grid()
    margin: 100px 0
    padding: 0
    @media phone
      margin: 50px 0
    .item
      cell(4, g:0)
      @media phone
        cell(12)
      h3
        font-size:36px
      &:last-child
        cell(8, g:0)
        @media phone
          cell(12)
        p
          font-family: "DiaLight"
          font-size:24px
          color: $blue

        .small
          margin-top: 50px
          h4
            font-size:13px
            color:$blue
            text-transform:uppercase
            margin-bottom: 5px
          a
            font-size:120px
            margin-right:35px
            transition: border .3s
            border-bottom: 5px solid transparent
            &.year
              @media phone
                text-align:center
                float:left
                width: 50%
                margin-right: 0
                font-size: 100px
            &:hover
              border-color: $blue
        .team
          margin-top:0
          .half
            h4
              color: $blue
              text-transform: none
              line-height:32px
              margin-bottom: 0
              margin-top: 15px
              font-size: 24px
            p
              font-size:24px
              line-height:32px
        .grid
          grid()

          .half
            cell(1,2,g:0)
            padding-right:30px
            @media phone
              cell(12)
            h4
              margin-top: 30px
              &:first-child
                margin-top: 0
            a
              font-size:24px
              border-bottom: 3px solid transparent
