@import 's-grid-settings'
// you can overwrite settings here
@import 's-grid-functions'
@import './colors'
@import "./fonts"
.day
  width: 100%
  float: left
  margin-top:50px
  h3
    font-family: "DiaBlack"
    float: left
    font-size: 280px
    letter-spacing: -20px
    margin: 0
    text-transform: uppercase
  .img
    float:right
    width: 170px
    height: 170px
    background-size:cover
    margin-top: 70px
  .sessions
    float:left
    .outer
      max-height: 83px
      overflow:hidden
      border-bottom: 3px solid $blue
      transition: max-height .9s
      &:first-child
        border-top: 3px solid $blue
      &.active
        max-height: 500px
    .session
      padding: 25px 0
      grid()
      h4
        margin:0
        font-size:18px
        font-family: "DiaBlack"
        cursor:pointer
      p
        color: $blue
        font-family: "DiaLight"
        margin-top: 20px
        font-size: 20px
      .time
        cell(2)
        p
          margin-top:25px
      .speaker
        cell(4)
        .type
          width: 25px
          height:25px
          color:white
          background: $blue
          text-align:center
          font-size:12px
          line-height: 25px
          border-radius: 12px
          float:left
          margin-top: -3px
          margin-right: 10px
        p
          padding-left: 35px
        .links
          position:relative
          margin-top: 10px
          padding-top: 10px
          padding-left: 35px
          &:before
            content:""
            position:absolute
            top:0
            left: 35px
            width: 20px
            height: 3px
            background: $blue
        a
          font-family: "DiaLight"
          font-size: 20px
          display:block
          text-transform: capitalize
      .desc
        cell(6)
