@font-face
  font-family: 'DiaBlack';
  src: url('../fonts/DiaBlack.eot'); /* IE9 Compat Modes */
  src: url('../fonts/DiaBlack.woff') format('woff');

@font-face
  font-family: 'DiaLight';
  src: url('../fonts/DiaLight.eot'); /* IE9 Compat Modes */
  src: url('../fonts/DiaLight.woff') format('woff');
