@import "./colors"
.footer
  margin: 80px 0
  .program
    position:relative
    width: 100%
    height: 200px
    border: 5px solid $blue
    margin: 100px 0
    overflow:hidden
    &:hover
      .hand
        right: -100px
      .hand2
        left: 20px
      a
        padding-left: 120px
    a
      position: absolute
      display: block
      top: 0
      left: 0
      padding: 70px
      width: 100%
      height: 100%
      font-size:48px
      margin: 0
      transition: all .3s
    .hand
      position:absolute
      right: 70px
      top: 60px
      width: 75px
      height: 75px
      background: url("../images/hand_icon.svg")
      background-size: 100%
      transition: all .3s
    .hand2
      content: ""
      position:absolute
      left: -100px
      top: 60px
      width: 75px
      height: 75px
      background: url("../images/hand_icon.svg")
      background-size: 100%
      transition: all .3s
  .txt
    float:left
    font-size: 17px
  .copy
    float:right
    display:block
    font-size: 11px
    transform: rotate(-90deg)
    margin-top: 28px
  ul
    float: right
    li
      position:relative;
      list-style:none
      float:left
      width: 40px
      height: 40px
      margin-right:20px;
      &:last-child
        margin: 0
      &.facebook
        background:url("../images/facebook.svg")
      &.instagram
        background:url("../images/instagram.svg")
      &.vimeo
        background:url("../images/vimeo.svg")
      &.twitter
        background:url("../images/twitter.svg")
      a
        position:absolute
        width: 100%
        height: 100%
  .heart
    color: #ff3e1c
