@import "./colors"
@import "./mixins"
.footer
  margin: 80px 0
  @media phone
    padding: 0 20px
  .program
    position:relative
    height: 200px
    width: 100%
    border: 5px solid $blue
    margin: 100px 0
    overflow:hidden
    @media phone
      margin: 0
      height: 100px
      margin-bottom: 30px
      line-height: 80px
    &:hover
      .hand
        right: -100px
      .hand2
        left: 20px
      a
        padding-left: 120px
        @media phone
          padding-left: 0
    a
      position: absolute
      display: block
      top: 0
      left: 0
      padding: 70px
      width: 100%
      height: 100%
      font-size:48px
      margin: 0
      transition: all .3s
      @media phone
        padding: 10px
        font-size: 20px
        text-align:center
    .hand
      position:absolute
      right: 70px
      top: 60px
      width: 75px
      height: 75px
      background: url("../images/hand_icon.svg")
      background-size: 100%
      transition: all .3s
      @media phone
        hideOn(phone)
    .hand2
      content: ""
      position:absolute
      left: -100px
      top: 60px
      width: 75px
      height: 75px
      background: url("../images/hand_icon.svg")
      background-size: 100%
      transition: all .3s
      @media phone
        hideOn(phone)
  .txt
    float:left
    font-size: 17px
  .copy
    float:right
    display:block
    font-size: 11px
    transform: rotate(-90deg)
    margin-top: 14px
  ul
    float: right
    @media phone
      float:left
      width: 100%
      margin-top: 20px
    li
      position:relative;
      list-style:none
      float:left
      width: 40px
      height: 40px
      margin-right:20px;
      transition: opacity .3s
      &:hover
        opacity: .8
      &:last-child
        margin: 0
      &.facebook
        background:url("../images/facebook.svg")
      &.instagram
        background:url("../images/instagram.svg")
      &.vimeo
        background:url("../images/vimeo.svg")
      &.twitter
        background:url("../images/twitter.svg")
      a
        position:absolute
        width: 100%
        height: 100%
  .heart
    color: #ff3e1c
