.footer
  margin: 80px 0
  .txt
    float:left
    font-size: 17px
  .copy
    float:right
    display:block
    font-size: 11px
    transform: rotate(-90deg)
    margin-top: 28px
  ul
    float: right
    li
      position:relative;
      list-style:none
      float:left
      width: 40px
      height: 40px
      margin-right:20px;
      &:last-child
        margin: 0
      &.facebook
        background:url("../images/facebook.svg")
      &.instagram
        background:url("../images/instagram.svg")
      &.vimeo
        background:url("../images/vimeo.svg")
      &.twitter
        background:url("../images/twitter.svg")
      a
        position:absolute
        width: 100%
        height: 100%
  .heart
    color: #ff3e1c
