
.video
  video
    width: 100%
    position:relative
.video1
  position:absolute
  width: 300px
  top: -50px
  right: 0
.video2
  position:absolute
  width: 400px
  top: 300px
  left: 0
video
  width: 300px
.section
  position:relative
  padding: 50px
  margin-top: 300px
  &:first-child
    margin-top: 2000px
  &:last-child
    margin-bottom: 200px
  img
    width: 100%
