@import "./mixins"
.video
  video
    width: 100%
    position:relative
.video1
  position:absolute
  width: 300px
  top: -50px
  right: 0
  @media phone
    top: -70px
    width: 200px
.video2
  position:absolute
  width: 400px
  top: 300px
  left: 0
  @media phone
    top: 160px
    width: 200px
video
  width: 300px
.home
  .container
    > a
      display:block
      cursor: pointer
      &:first-child
        margin-top: 2000px
        @media phone
          margin-top: 0
      &:last-child
        margin-bottom: 200px
.section
  position:relative
  padding: 50px
  margin-top: 300px
  @media phone
    margin-top: 100px
  img
    width: 100%
