@import './colors'
@import "./mixins"
.menu-screen
  position:fixed
  z-index: 100
  left: 0
  top: 120%
  width: 100%
  height:100%
  background: #00005F
  overflow:hidden
  transition: all .5s
  &.active
    top: 0
    background: $blue
    ul
      li
        margin-bottom: 20px
  &.exiting
    top: -100%
    transition: all 1s
    ul
      li
        margin-bottom: 0
  &.noAnimation
    transition: none
  ul
    position:absolute
    width: 100%
    margin: 0
    padding: 0
    left: 0
    top: 50%
    margin-top: -270px
    @media phone
      margin-top: 0
      top: 100px
    li
      width: 100%
      list-style:none
      text-align:center
      font-size:48px
      margin-bottom: 100px
      transition: all .7s
      @media phone
        font-size: 30px
      a
        color: white
        border-bottom: 5px solid transparent
        transition: all .3s
      a:hover
        border-color: white
