.paralax
  position:fixed
  top: 0
.element
  position:absolute;
  &.hand
    left: 450px
    top: 230px
    img
      max-width: 70px
  &.ribon
    left: 0px
    img
      max-width: 350px
  &.mopribon
    left: 570px
    img
      max-width: 220px
  &.arrow,&.spancir
    left: 800px
    img
      max-wdith: 80px
  &.varazdin
    left: 100px
    img
      max-width: 160px
  &.www
    left: 400px
    img
      max-width: 300px
  &.line
    left: 850px
    img
      max-width: 270px
  &.m
    top: 300px
    left: 70px
    z-index: 100
    img
      max-width:400px
  &.o
    top: 500px
    left: 470px
    z-index: 100
    img
      max-width:250px
  &.p
    top: 400px
    left: 720px
    z-index: 100
    img
      max-width:280px
