@import "./mixins.styl"
.paralax
  hideOn(phone)
  position:fixed
  top: 0
.mobileImg
  showOn(phone)
  padding: 0 20px
  img
    width: 100%
.element
  position:absolute;
  &.arrow2
    left: 300px
    img
      max-width: 150px
  &.hand2
    left: 950px
    img
      max-width: 90px
  &.hand
    left: 530px
    img
      max-width: 70px
  &.spancir
    left: 20px
    img
      max-width: 180px
  &.ribon
    left: 790px
    img
      max-width: 350px
  &.mopribon
    left: 570px
    img
      max-width: 220px
  &.arrow
    left: 300px
    img
      max-width: 75px
  &.varazdin
    left: 100px
    img
      max-width: 160px
  &.www
    left: 550px
    img
      max-width: 300px
  &.line
    left: 0px
    img
      max-width: 270px
  &.line2
    left: 600px
    img
      max-width: 220px
  &.line3
    left: 600px
    img
      max-width: 220px
  &.m
    top: 300px
    left: 70px
    z-index: 100
    img
      max-width:400px
  &.o
    top: 500px
    left: 467px
    z-index: 100
    img
      max-width:300px
  &.p
    top: 400px
    left: 765px
    z-index: 100
    img
      max-width:350px
