@import "./colors"
@import "./fonts"
.title
  width: 100%
  height: 600px
  margin-top: 50px
  background: $blue
  text-align: center
  h2
    display:inline-block
    background:white
    color: $blue
    font-size: 140px
    margin-top: 180px
    padding: 30px 50px
