@import 's-grid-settings'
// you can overwrite settings here
@import 's-grid-functions'
@import './colors'
@import './mixins'
.sponsors
  padding: 0 20px
  .container
    margin-top: 2000px
    @media phone
      margin-top: 0
    @media tablet
      padding: 100px 20px
  .text
    float: left
    width: 100%
    margin: 90px 0 70px
    p
      text-align:center
      margin: 0
      &.small
        text-transform: uppercase
        font-size:46px
      &.big
        text-transform: uppercase
        font-size:455px
        letter-spacing: -31.6px;
        @media phone
          font-size:150px
          letter-spacing: 0
      &.desc
        font-family: "DiaLight"
        font-size:36px
        max-width: 970px
        margin: 0 auto 100px
        color: $blue
.cont
  h3
    font-size:34px
    margin:60px 0 30px
.partners
    grid()
    .item
      position: relative
      height: 320px
      background: #fafafa
      &.smallerHeight
        height: 270px
      &.big
        img
          max-width: 150px
      img
        position: absolute
        display:block
        margin: auto
        top:0
        bottom: 0
        left: 0
        right: 0
        max-width: 100px
      &:first-child
        margin-left: 0
      &.four
        cell(3)
        @media phone
          cell(1, 1)
        @media tablet
          cell(1, 2)
      &.three
        cell(4)
        @media phone
          cell(1, 1)
        @media tablet
          cell(1, 2)
